{% block flashes %}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div id="toast-{{ type }}" class="flex items-center w-full max-w-sm p-2 text-body bg-white rounded-2 shadow-xs rounded-sm" role="alert" data-controller="closeable">
				<div class="inline-flex items-center justify-center shrink-0 w-7 h-7 text-fg-{{ type }} bg-{{ type }}-soft rounded">
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/></svg>
					<span class="sr-only">Check icon</span>
				</div>
				<div class="ms-3 text-sm font-normal">{{ message }}</div>
				<button type="button" data-action="closeable#close" class="cursor-pointer ms-auto flex items-center justify-center text-body hover:text-heading bg-transparent box-border leading-5 rounded text-sm h-8 w-8 focus:outline-none" data-dismiss-target="#toast-{{ type }}" aria-label="Close">
					<i class="fa-solid fa-xmark" aria-hidden="true" ></i>   
                </button>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}
