{% block post_card %}
	<div class="max-w-170 mx-auto p-0 mb-4 bg-white dark:bg-[#1c2733] rounded-xl shadow-sm border border-gray-200 dark:border-gray-800 overflow-hidden">
		<div class="p-4 flex items-center justify-between">
			<div class="flex items-center gap-3">
				<a href="{{ path('app_member_profile', {'id': post.author.id}) }}" class="h-10 w-10 rounded-full bg-center bg-no-repeat bg-cover" data-alt="Alex Johnson profile picture"
                {% if post.author.profilePictureFileName %} style=" background-image: url(&quot;{{ asset('uploads/pets/' ~ post.author.profilePictureFileName) }}&quot;);" {% else %} style=" background-image: url(&quot;{{ asset('assets/images/default-pet.png') }}&quot;);" {% endif %} style=" background-image: url(&quot;{{ asset('uploads/pets/' ~ post.author.profilePictureFileName) }}&quot;);"></a>
				<div>
					<div class="flex items-center gap-1">
						<a class="font-bold text-[#111418] dark:text-white leading-none hover:underline cursor-pointer">
							{{ post.author.name }}
						</a>
					</div>
					<div class="flex items-center gap-1 text-[#60728a] dark:text-gray-400 text-xs mt-1">
						<span>{{ post.createdAt|date('H:i d M') }}</span>
					</div>
				</div>
			</div>
			<button class="text-(--dark-gray)/40 hover:text-(--primary-color) transition-colors  cursor-pointer">
				<i class="fa-solid fa-ellipsis"></i>
			</button>
		</div>
		<div class="px-4 pb-3">
			<p class="text-[#111418] dark:text-gray-200 text-base leading-relaxed">
				{{ post.content }}
			</p>
		</div>
		<div class="px-4 py-3 flex items-center justify-between border-b border-gray-100 dark:border-gray-800 mx-2">
			<div class="flex items-center gap-2">
				<div class="flex -space-x-1">
					<div class="size-5 rounded-full bg-primary flex items-center justify-center text-white ring-2 ring-white dark:ring-[#1c2733]">
						<span class="text-[12px] fill-1">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-heart hidden"></i>
                        </span>
					</div>
				</div>
				<p class="text-[#60728a] dark:text-gray-400 text-sm font-medium">
					{{ post.likes|length }}
				</p>
			</div>
			<div class="flex items-center gap-3 text-[#60728a] dark:text-gray-400 text-sm">
				<span class="hover:underline cursor-pointer">{{ post.comments|length }} comments</span>
			</div>
		</div>
		<!-- Interaction Buttons -->

		<div class="grid grid-cols-2 gap-1 px-4 py-1">
			<button disabled="disabled" class="disable flex items-center justify-center gap-2 py-2 px-1 rounded-lg text-[#60728a] dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors">
				<span class="material-symbols-outlined"><i class="fa-regular fa-heart"></i></span>
				<span class="text-sm font-semibold ">Like</span>
			</button>
			<button class="flex items-center justify-center gap-2 py-2 px-1 rounded-lg text-[#60728a] dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors">
				<span class="material-symbols-outlined"><i class="fa-regular fa-comment"></i></span>
				<span class="text-sm font-semibold">Comment</span>
			</button>
		</div>
		<div
			class="bg-gray-50/50 dark:bg-gray-900/20 px-4 py-4 space-y-4">
			<div class="flex gap-3 items-center">
				<div class="h-8 w-8 rounded-full shrink-0 bg-center bg-no-repeat bg-cover" data-alt="Active user profile picture" 
                style=" background-image: url(&quot;https://lh3.googleusercontent.com/aida-public/AB6AXuAbGt9_L_B-Pcsb9wE38xuSpgiid85iOppws4GMYOWKYwD3Y06-W9HSsxWD6B30WFcZvna9sO8q2IyXSemHVQfkGSW94norg1R6CLNn_C4AJmkovspXcNNn9TxcGkHfbCgRHBNC0ELebGesBlfpgdMNsLaUsfRDH2uynKZJaDEsLQ3r8FKNnElVo4fZV1I7WfRYkBcEGGgLkHmTXfx8Q6NxdynrXcnWwe1821sVi0O4qneBI6p7dBkAAS5m4fzOoNEmZgika9KRZUw&quot;);"></div>
				<div class="flex-1 relative">
					<input class="w-full bg-gray-100 dark:bg-gray-800 border-none rounded-full py-2 px-4 text-sm focus:ring-1 focus:ring-primary dark:text-white" placeholder="Write a comment..." type="text"/>
					<div class="absolute right-2 top-1/2 -translate-y-1/2 flex items-center gap-1 text-gray-400">
						<button class="p-1 hover:text-gray-600 dark:hover:text-gray-200">
							<span class="material-symbols-outlined text-lg"><i class="fa-solid fa-paper-plane"></i></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
