{% block new_post %}
	{% set pet = app.user.pets.first %}
	<div
		class="w-full max-w-2xl mx-auto py-4">

		{{ form_start(form, {'action': path('app_post_new'), 'attr': {'class': 'bg-(--white) rounded-xl shadow-sm border border-gray-200 p-[calc(var(--spacing-unit)*2)]'}}) }}
		<div class="pb-4 flex items-center justify-between">
			<div class="flex items-center gap-4">
				<div class="relative">
					{% if pet.profilePictureFileName %}
						<img src="{{ asset('uploads/pets/' ~ pet.profilePictureFileName) }}" alt="{{ pet.name }}" class="w-12 h-12 rounded-full object-cover border-2 border-(--primary-color)">
					{% else %}
						<img src="{{ asset('assets/images/default-pet.png') }}" alt="Pet Image" class="w-12 h-12 rounded-full object-cover border-2 border-(--primary-color)">
					{% endif %}
				</div>
				<div>
					<h3 class="font-bold text-(--dark-gray) dark:text-white text-lg leading-tight">
						{{ pet.name }}
					</h3>

					<div class="relative inline-block">
						{{ form_widget(form.visibility) }}
					</div>
				</div>
			</div>
			<button class="text-(--dark-gray)/40 hover:text-(--primary-color) transition-colors  cursor-pointer">
				<i class="fa-solid fa-ellipsis"></i>
			</button>
		</div>
		<div class="mb-[calc(var(--spacing-unit)*2)]">
			{{ form_widget(form.content) }}
			{{ form_errors(form.content) }}
		</div>
		<div class="flex items-center justify-between">
			<button aria-label="Upload Photo" class="cursor-pointer bg-(--dark-green) hover:bg-(--light-green) transition-all w-12 h-12 rounded-full flex items-center justify-center text-white shadow-md focus:outline-none" type="button">
				<i class="fa-regular fa-camera fa-xl"></i>
			</button>
			<button class="cursor-pointer bg-(--dark-green) hover:bg-(--light-green)  transition-all px-8 py-2.5 rounded-full text-white font-bold tracking-wider text-sm focus:outline-none" type="submit">
				SEND
			</button>
		</div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
